conditional probability-p[a/b]=probability of event A knowing that event B has already occurred
p(a/b)=p(b/a)*p(a)/p(b)

q1=pick a random card while you know that its a diamond then.now what is the probability of that card being a queen?

ans--using the bayes theorem of conditional probability
p(queen/diamond)=p(diamond/queen)*p(queen)/p(diamond)
ans=1/13

naive bayes is mainly used in spam email detection,weather detection ,face detection ,news etc

In [37]:
import pandas as pd
df=pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

we need to drop unnecessary data from the data frame

In [38]:
df.drop(['PassengerId','Name','Parch','Ticket','Cabin','Embarked','SibSp'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [39]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

since on the sex column it contains string so we use need to convert it into value

In [40]:
dummies=pd.get_dummies(inputs.Sex)
dummies=dummies.astype(int)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [41]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [42]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

to find that our complete data frame does contains any null value in any columns

In [43]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

above it return age column contains a null value

check which rows it contains null value and then handle it

In [44]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [45]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1
7       3   2.000000  21.0750       0     1
8       3  27.000000  11.1333       1     0
9       2  14.000000  30.0708       1     0

In [63]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [47]:
len(x_train)

712

In [48]:
len(x_test)

179

In [49]:
len(inputs)

891

In [50]:
x_train

     Pclass        Age     Fare  female  male
391       3  21.000000   7.7958       0     1
848       2  28.000000  33.0000       0     1
182       3   9.000000  31.3875       0     1
863       3  29.699118  69.5500       1     0
456       1  65.000000  26.5500       0     1
..      ...        ...      ...     ...   ...
372       3  19.000000   8.0500       0     1
714       2  52.000000  13.0000       0     1
727       3  29.699118   7.7375       1     0
703       3  25.000000   7.7417       0     1
845       3  42.000000   7.5500       0     1

[712 rows x 5 columns]

creating naive bayes

inside naive bayes there are many models presents amongst whcih we will use the gaussianNB model

In [59]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [64]:
model.fit(x_train,y_train)

GaussianNB()

In [65]:
model.score(x_test,y_test)

0.8044692737430168

In [66]:
x_test[:10]

     Pclass    Age     Fare  female  male
469       3   0.75  19.2583       1     0
816       3  23.00   7.9250       1     0
496       1  54.00  78.2667       1     0
49        3  18.00  17.8000       1     0
549       2   8.00  36.7500       0     1
655       2  24.00  73.5000       0     1
139       1  24.00  79.2000       0     1
202       3  34.00   6.4958       0     1
149       2  42.00  13.0000       0     1
169       3  28.00  56.4958       0     1

In [67]:
y_test[:10]

469    1
816    0
496    1
49     0
549    1
655    0
139    0
202    0
149    0
169    0
Name: Survived, dtype: int64

In [68]:
model.predict(x_test[:10])

array([1, 1, 1, 1, 0, 0, 0, 0, 0, 0], dtype=int64)